extends layout
block title 
    title About - SmartShop
block content
    .container-invoice(style='display:flex; justify-content:center;align-items:center;min-height:55vh;',data-aos="fade-up", data-aos-duration="1200") 
        p THANK YOU FOR YOUR INTEREST IN SMARTSHOP. OUR CUSTOMER SERVICE TEAM WILL RESPOND TO ALL EMAILS WITHIN 24-48 HOURS, MONDAY TO FRIDAY (10AM-6PM EST) EXCLUDING HOLIDAYS.

        p PLEASE FEEL FREE TO SUBMIT YOUR INQUIRY TO US USING THE BELOW FORM, OTHERWISE PLEASE EMAIL US AT CONTACT@SMART.COM FOR FURTHER ASSISTANCE.
