.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

[class*="col-"] {
    padding: 0 15px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}


/* ============ Cart ============ */


/* #nav_icons {

    transition: transform 0.3s ease-in-out;
} */


/* #nav_icons.active {
    transform: translateX(-200px);
} */

.cd-cart {
    background-color: #FFF;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    /* padding-top: 20px; */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(#000, .2);
    z-index: var(--sidebar-zindex);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    font-family: 'Archivo', sans-serif;
}

.cd-cart>* {
    padding: 0 1em;
}

.cd-header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cd-header h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    color: var(--white);
}

.cd-header i {
    font-size: 1.3rem;
    cursor: pointer;
}

.cd-cart.active {
    transform: translateX(0);
    z-index: 2000;
}

.cd-cart-items {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.cd-cart-items li {
    position: relative;
    padding: 1em 0.5em;
    margin: 1em 0;
    border-top: 1px solid #e0e6ef;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 1rem;
    width: 100%;
}

.box img {
    height: 80px;
}

.box .fa-trash {
    font-size: 1.1rem;
    position: absolute;
    top: 72%;
    right: 2rem;
    cursor: pointer;
    color: var(--grey);
    transform: translateY(-50%);
    transition: all .2s ease-in;
}

.box .fa-trash:hover {
    color: var(--orange);
}

.box .content h3 {
    color: var(--black);
    font-size: 16px;
}

.box .content span {
    color: #a5aebc;
    font-size: 15px;
}

.cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}

.checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* background: #7dcf85; */
    background: var(--black);
    color: #FFF;
    text-align: center;
}

.checkout-btn:hover {
    /* background: #8ece94; */
    background: var(--black2);
}

.cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}

.cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-cart-total span {
    float: right;
}

.cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
}

.cd-go-to-cart a,
.cd-go-to-cart a i {
    font-size: small;
    color: var(--black2);
}

.cd-go-to-cart a {
    font-weight: bold;
    transition: all 150ms ease-in-out 100ms;
}

.cd-go-to-cart a:hover,
.cd-go-to-cart a:hover i {
    color: var(--black4);
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.burger {
    border: 0;
    cursor: pointer;
    /* display: none; */
    background-color: var(--black);
    font-size: 24px;
    position: relative;
    padding: 0;
    outline: none;
    height: 30px;
    width: 30px;
}

.burger:active {
    color: var(--white);
    outline: none;
}

.burger .bar {
    background-color: var(--white);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 3px;
    width: 20px;
    transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
    top: 40%;
}

.burger .bar:last-of-type {
    top: 60%;
}

.burger:hover .bar:first-of-type {
    transform: translate(-50%, 50%) rotate(225deg);
}

.burger:hover .bar:last-of-type {
    transform: translate(-50%, -150%) rotate(-225deg);
}

#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background: rgba(67, 87, 121, 0.6); */
    cursor: pointer;
    z-index: 2;
    display: none;
}

#cd-shadow-layer.is-visible {
    display: block;
    animation: cd-fade-in .3s;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
}

body.active_cart::after,
body.popup_cart::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: var(--black) none no-repeat 0 0;
    opacity: 0.8;
    z-index: 1;
    transition: 0.8s;
}

body.active_cart,
body.popup_cart {
    overflow: hidden;
}

body.active_cart .slider-container h1,
body.popup_cart .slider-container h1 {
    opacity: 0.4;
}


/* .quantity {
    display: inline-block;
} */

.content-cart .add-btn,
.content-cart .reduce-btn {
    font-size: 16px;
    color: rgb(151, 147, 147);
    cursor: pointer;
    margin: 0 3px;
    font-weight: 300;
}

.price {
    color: var(--grey);
    margin: 0 0 0 3px;
}


/* body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: var(--black) none no-repeat 0 0;
    opacity: 0.7;
    z-index: 999;
    transition: 0.8s;
} */


/* ==================== Dropdown menu ==================== */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown form {
    /* position: relative;
    display: block; */
    float: right;
    display: flex;
    width: 10em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
}


/* .dropdown form::after {
    content: '\25BC';
    position: absolute;
    top: 16.5%;
    right: 1.8rem;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
} */

.dropdown form:hover::after {
    color: #23b499;
}

.dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: var(--white);
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
}

.dropdown select::-ms-expand {
    display: none;
}


/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
} */


/* ============== Alert ============= */

.alert {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #04AA6D;
    color: var(--white);
    border-radius: 5px;
}

.closeAlert {
    margin-left: 15px;
    color: var(--white);
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlert:hover {
    color: var(--black);
}


/*  ================ Popup Alert ================= */

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_alert {
    width: 350px;
    height: 280px;
    padding: 30px 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 1;
    top: -200%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 300ms ease-in-out, top 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.popup_alert.active {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    transition: transform 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
}

.popup_alert .icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
}

.popup_alert .icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.popup_alert .title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
}

.popup_alert .description {
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.popup_alert .dismiss-btn {
    margin-top: 15px;
}

.popup_alert .dismiss-btn button {
    padding: 10px 20px;
    background: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup_alert .dismiss-btn button:hover {
    color: #111;
    background: #f5f5f5;
}

.popup_alert>div {
    position: relative;
    top: 10px;
    opacity: 0;
}

.popup_alert.active>div {
    top: 0px;
    opacity: 1;
}

.popup_alert.active .icon {
    transition: all 300ms ease-in-out 250ms;
}

.popup_alert.active .title {
    transition: all 300ms ease-in-out 300ms;
}

.popup_alert.active .description {
    transition: all 300ms ease-in-out 350ms;
}

.popup_alert.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}


/* Warning */


/* .click, */

.popup_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}


/* .click {
    background: #2981bc;
    color: white;
    font-size: 22px;
    font-family: arial;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #0059b3;
} */

.popup_box {
    width: 500px;
    background: #f2f2f2;
    text-align: center;
    align-items: center;
    padding: 40px;
    border: 1px solid #b3b3b3;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    z-index: 9999;
    display: none;
}

.popup_box i {
    font-size: 60px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

.popup_box h1 {
    font-size: 30px;
    color: #1b2631;
    margin-bottom: 5px;
}

.popup_box label {
    font-size: 23px;
    color: #404040;
}

.popup_box .btns {
    margin: 40px 0 0 0;
}

.btns .btn1,
.btns .btn2 {
    background: #999999;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 10px 13px;
}

.btns .btn2 {
    margin-left: 20px;
    background: #ff3333;
    border: 1px solid #cc0000;
}

.btns .btn1:hover {
    transition: .5s;
    background: #8c8c8c;
}

.btns .btn2:hover {
    transition: .5s;
    background: #e60000;
}


/* ============ Error page ============ */

#error-frame {
    /* position: absolute;
    top: 10%;
    left: 15%;
    right: 15%;
    bottom: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid var(--black4);
    user-select: none;
    font-family: inherit;
}

#error-frame .error-content {
    max-width: 600px;
    text-align: center;
}

.error-content h1 {
    margin: 30px 0;
    font-size: 18vw;
    line-height: 1em;
    position: relative;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1);
    /* color: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75)), url(https://wallpapercave.com/wp/wp3378366.jpg); */
    color: rgba(0, 0, 0, 0.75);
}

.error-content h4 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--black);
    font-size: 2.1em;
    max-width: 600px;
    position: relative;
}

.error-content p {
    font-size: 1.2em;
    color: #0d0d0d;
}

.error-content .error-btn {
    margin: 25px 0;
    display: inline-flex;
}

.error-content .error-btn a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid var(--black2);
    color: var(--black2);
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.error-content .error-btn a:hover {
    background: var(--black2);
    color: #fff;
}